.fffiraCode {
  font-family: "FiraCode";
}
.fffiracode-vf {
  font-family: "FiraCode-VF";
}
.ffiranyekanx {
  font-family: "IRANYekanX";
}
.ffparastoo {
  font-family: "Parastoo";
}
.ffpoppins {
  font-family: "Poppins";
}
.ffsahel {
  font-family: "Sahel";
}
.ffsamim {
  font-family: "Samim";
}
.ffsamim-fd {
  font-family: "Samim-fd";
}
.ffsamim-wol {
  font-family: "Samim-wol";
}
.ffshabnam {
  font-family: "Shabnam";
}
.ffshabnam-fd {
  font-family: "Shabnam-fd";
}
.ffshabnam-wol {
  font-family: "Shabnam-wol";
}
.ffttnorms {
  font-family: "TTNorms";
}
.fftanha {
  font-family: "Tanha";
}
.fftanha-fd {
  font-family: "Tanha-FD";
}
.fftanha-wol {
  font-family: "Tanha-WOL";
}
.fftanha-fd-wol {
  font-family: "Tanha-FD-WOL";
}
.ffvazir {
  font-family: "Vazir";
}
.ffvazirmatn {
  font-family: "Vazirmatn";
}
.ffvazir-fd {
  font-family: "Vazir-FD";
}
.ffvazir-wol {
  font-family: "Vazir-WOL";
}
.ffvazir-fd-wol {
  font-family: "Vazir-FD-WOL";
}
.ffaordibeheshtshablon {
  font-family: "Aordibeheshtshablon";
}
.ffblabeloo {
  font-family: "BLabeloo";
}
.ffbyekan {
  font-family: "BYekan";
}
.ffiransansxvf {
  font-family: "IransansxVF";
}
.ffkalniaglaze {
  font-family: "Kalniaglaze";
}
.ffkalniaglazeexpanded {
  font-family: "KalniaglazeExpanded";
}
.ffkalniaglazesemiexpanded {
  font-family: "KalniaglazeSemiexpanded";
}
.fflalezar {
  font-family: "lalezar";
}
.ffmjtext {
  font-family: "MJText";
}
.ffyekan {
  font-family: "Yekan";
}
.ffyekanbakh {
  font-family: "YekanBakh";
}
.ffabasan {
  font-family: "Abasan";
}
.ffafsoon {
  font-family: "Afsoon";
}
.ffaref {
  font-family: "Aref";
}
.ffarshia {
  font-family: "Arshia";
}
.ffbbadr {
  font-family: "BBadr";
}
.ffbbaran {
  font-family: "BBaran";
}
.ffbfarnaz {
  font-family: "BFarNaz";
}
.ffflow {
  font-family: "Flow";
}
.fffrutiger {
  font-family: "Frutiger";
}
.ffkufi {
  font-family: "Kufi";
}
.ffrezvan {
  font-family: "Rezvan";
}
.fftwo {
  font-family: "Two";
}
.fftimesnewroman {
  font-family: "TimesNewRoman";
}

/* ---------- FiraCode ---------- */

@font-face {
  font-family: "FiraCode";
  src: url("../../public/fonts/WOFF2/FiraCode-Bold.woff2") format("woff2"),
    url("../../public/fonts/WOFF/FiraCode-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "FiraCode";
  src: url("../../public/fonts/TTF/firacode-retina.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "FiraCode";
  src: url("../../public/fonts/TTF/firacode-semibold.ttf"),
    url("../../public/fonts/WOFF/FiraCode-SemiBold.woff"),
    url("../../public/fonts/WOFF2/FiraCode-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "FiraCode";
  src: url("../../public/fonts/WOFF2/FiraCode-Medium.woff2") format("woff2"),
    url("../../public/fonts/WOFF/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "FiraCode";
  src: url("../../public/fonts/TTF/firacode-regular.ttf"),
    url("../../public/fonts/WOFF/FiraCode-Regular.woff"),
    url("../../public/fonts/WOFF2/FiraCode-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("../../public/fonts/TTF/firacode-vf.ttf"),
    url("../../public/fonts/WOFF/FiraCode-VF.woff"),
    url("../../public/fonts/WOFF2/FiraCode-VF.woff2");
  font-weight: 100 900;
}

@font-face {
  font-family: "FiraCode";
  src: url("../../public/fonts/WOFF2/FiraCode-Light.woff2") format("woff2"),
    url("../../public/fonts/WOFF/FiraCode-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "FiraCode-VF";
  src: url("../../public/fonts/WOFF2/FiraCode-VF.woff2") format("woff2"),
    url("../../public/fonts/WOFF/FiraCode-VF.woff") format("woff");
}

/* ---------- IRANYekanX ---------- */
@font-face {
  font-family: "IRANYekanX";
  src: url("../../public/fonts/WOFF2/IRANYekanX-Black.woff2") format("woff2"),
    url("../../public/fonts/WOFF/IRANYekanX-Black.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "IRANYekanX";
  src: url("../../public/fonts/WOFF2/IRANYekanX-Bold.woff2") format("woff2"),
    url("../../public/fonts/WOFF/IRANYekanX-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "IRANYekanX";
  src: url("../../public/fonts/WOFF2/IRANYekanX-DemiBold.woff2") format("woff2"),
    url("../../public/fonts/WOFF/IRANYekanX-DemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "IRANYekanX";
  src: url("../../public/fonts/WOFF2/IRANYekanX-ExtraBlack.woff2")
      format("woff2"),
    url("../../public/fonts/WOFF/IRANYekanX-ExtraBlack.woff") format("woff");
  font-weight: 950;
}

@font-face {
  font-family: "IRANYekanX";
  src: url("../../public/fonts/WOFF2/IRANYekanX-ExtraBold.woff2")
      format("woff2"),
    url("../../public/fonts/WOFF/IRANYekanX-ExtraBold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "IRANYekanX";
  src: url("../../public/fonts/WOFF2/IRANYekanX-Heavy.woff2") format("woff2"),
    url("../../public/fonts/WOFF/IRANYekanX-Heavy.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "IRANYekanX";
  src: url("../../public/fonts/WOFF2/IRANYekanX-Light.woff2") format("woff2"),
    url("../../public/fonts/WOFF/IRANYekanX-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "IRANYekanX";
  src: url("../../public/fonts/WOFF2/IRANYekanX-Medium.woff2") format("woff2"),
    url("../../public/fonts/WOFF/IRANYekanX-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "IRANYekanX";
  src: url("../../public/fonts/WOFF2/IRANYekanX-Regular.woff2") format("woff2"),
    url("../../public/fonts/WOFF/IRANYekanX-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "IRANYekanX";
  src: url("../../public/fonts/WOFF2/IRANYekanX-Thin.woff2") format("woff2"),
    url("../../public/fonts/WOFF/IRANYekanX-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "IRANYekanX";
  src: url("../../public/fonts/WOFF2/IRANYekanX-UltraLight.woff2")
      format("woff2"),
    url("../../public/fonts/WOFF/IRANYekanX-UltraLight.woff") format("woff");
  font-weight: 200;
}

/* ---------- Parastoo ---------- */
@font-face {
  font-family: "Parastoo";
  src: url("../../public/fonts/TTF/parastoo.ttf"),
    url("../../public/fonts/EOT/Parastoo.eot"),
    url("../../public/fonts/WOFF/Parastoo.woff"),
    url("../../public/fonts/WOFF2/Parastoo.woff2");
}

@font-face {
  font-family: "Parastoo";
  src: url("../../public/fonts/TTF/parastoo-bold.ttf"),
    url("../../public/fonts/EOT/Parastoo-Bold.eot"),
    url("../../public/fonts/WOFF/Parastoo-Bold.woff"),
    url("../../public/fonts/WOFF2/Parastoo-Bold.woff2");
  font-weight: bold;
}

/* ---------- Poppins ---------- */
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/WOFF/Poppins-Black.woff"),
    url("../../public/fonts/TTF/poppins-black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/TTF/poppins-extrabold.ttf"),
    url("../../public/fonts/WOFF/Poppins-ExtraBold.woff");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/WOFF/Poppins-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/TTF/poppins-semibold.ttf"),
    url("../../public/fonts/WOFF/Poppins-SemiBold.woff");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/TTF/poppins-medium.ttf"),
    url("../../public/fonts/WOFF/Poppins-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/TTF/poppins-light.ttf"),
    url("../../public/fonts/WOFF/Poppins-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/TTF/poppins-extralight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/TTF/poppins-thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/TTF/poppins-regular.ttf"),
    url("../../public/fonts/WOFF/poppins-regular-webfont.woff"),
    url("../../public/fonts/WOFF2/poppins-regular-webfont.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/TTF/poppins-bold.ttf");
  font-weight: bold;
}

/* ---------- Sahel ---------- */
@font-face {
  font-family: "Sahel";
  src: url("../../public/fonts/TTF/sahel.ttf"),
    url("../../public/fonts/EOT/Sahel.eot"),
    url("../../public/fonts/WOFF/Sahel.woff");
  font-weight: normal;
}

@font-face {
  font-family: "Sahel";
  src: url("../../public/fonts/EOT/Sahel-Bold.eot"),
    url("../../public/fonts/WOFF/Sahel-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Sahel";
  src: url("../../public/fonts/TTF/sahel-black.ttf"),
    url("../../public/fonts/TTF/sahel-bold.ttf"),
    url("../../public/fonts/EOT/Sahel-Black.eot"),
    url("../../public/fonts/WOFF/Sahel-Black.woff");
  font-weight: 900;
}

/* ---------- Samim ---------- */
@font-face {
  font-family: "Samim";
  src: url("../../public/fonts/TTF/samim.ttf"),
    url("../../public/fonts/EOT/Samim.eot"),
    url("../../public/fonts/WOFF/Samim.woff"),
    url("../../public/fonts/WOFF2/Samim.woff2");
}

@font-face {
  font-family: "Samim";
  src: url("../../public/fonts/TTF/samim-bold.ttf"),
    url("../../public/fonts/EOT/Samim-Bold.eot"),
    url("../../public/fonts/WOFF/Samim-Bold.woff"),
    url("../../public/fonts/WOFF2/Samim-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Samim-fd";
  src: url("../../public/fonts/TTF/samim-fd.ttf");
}

@font-face {
  font-family: "Samim-wol";
  src: url("../../public/fonts/TTF/samim-wol.ttf");
}

@font-face {
  font-family: "Samim-fd";
  src: url("../../public/fonts/TTF/samim-bold-fd.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Samim-wol";
  src: url("../../public/fonts/TTF/samim-bold-wol.ttf");
  font-weight: bold;
}

/* ---------- Shabnam ---------- */
@font-face {
  font-family: "Shabnam";
  src: url("../../public/fonts/TTF/shabnam.ttf"),
    url("../../public/fonts/WOFF/Shabnam.woff"),
    url("../../public/fonts/WOFF2/Shabnam.woff2");
}

@font-face {
  font-family: "Shabnam";
  src: url("../../public/fonts/TTF/shabnam-bold.ttf"),
    url("../../public/fonts/WOFF/Shabnam-Bold.woff"),
    url("../../public/fonts/WOFF2/Shabnam-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Shabnam";
  src: url("../../public/fonts/TTF/shabnam-light.ttf"),
    url("../../public/fonts/WOFF/Shabnam-Light.woff"),
    url("../../public/fonts/WOFF2/Shabnam-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Shabnam-fd";
  src: url("../../public/fonts/TTF/shabnam-fd.ttf");
}

@font-face {
  font-family: "Shabnam-wol";
  src: url("../../public/fonts/TTF/shabnam-wol.ttf");
}

@font-face {
  font-family: "Shabnam-fd";
  src: url("../../public/fonts/TTF/shabnam-light-fd.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Shabnam-wol";
  src: url("../../public/fonts/TTF/shabnam-light-wol.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Shabnam-fd";
  src: url("../../public/fonts/TTF/shabnam-bold-fd.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Shabnam-wol";
  src: url("../../public/fonts/TTF/shabnam-bold-wol.ttf");
  font-weight: bold;
}

/* ---------- TTNorms ---------- */
@font-face {
  font-family: "TTNorms";
  src: url("../../public/fonts/OTF/TTNorms-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "TTNorms";
  src: url("../../public/fonts/OTF/TTNorms-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "TTNorms";
  src: url("../../public/fonts/OTF/TTNorms-Black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "TTNorms";
  src: url("../../public/fonts/OTF/TTNorms-ExtraBold.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "TTNorms";
  src: url("../../public/fonts/OTF/TTNorms-ExtraLight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "TTNorms";
  src: url("../../public/fonts/OTF/TTNorms-Heavy.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "TTNorms";
  src: url("../../public/fonts/OTF/TTNorms-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "TTNorms";
  src: url("../../public/fonts/OTF/TTNorms-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "TTNorms";
  src: url("../../public/fonts/OTF/TTNorms-Thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "TTNorms";
  src: url("../../public/fonts/OTF/TTNorms-Italic.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "TTNorms";
  src: url("../../public/fonts/OTF/TTNorms-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* ---------- Tanha ---------- */
@font-face {
  font-family: "Tanha";
  src: url("../../public/fonts/TTF/tanha.ttf"),
    url("../../public/fonts/EOT/Tanha.eot"),
    url("../../public/fonts/WOFF/Tanha.woff"),
    url("../../public/fonts/WOFF2/Tanha.woff2");
}

@font-face {
  font-family: "Tanha-FD";
  src: url("../../public/fonts/TTF/tanha-fd.ttf"),
    url("../../public/fonts/EOT/Tanha-FD.eot"),
    url("../../public/fonts/WOFF/Tanha-FD.woff"),
    url("../../public/fonts/WOFF2/Tanha-FD.woff2");
}
@font-face {
  font-family: "Tanha-WOL";
  src: url("../../public/fonts/TTF/tanha-wol.ttf"),
    url("../../public/fonts/WOFF/Tanha-WOL.woff"),
    url("../../public/fonts/WOFF2/Tanha-WOL.woff2");
}
@font-face {
  font-family: "Tanha-FD-WOL";
  src: url("../../public/fonts/EOT/Tanha-FD-WOL.eot"),
    url("../../public/fonts/WOFF/Tanha-FD-WOL.woff"),
    url("../../public/fonts/WOFF2/Tanha-FD-WOL.woff2");
}

/* ---------- Vazir ---------- */

@font-face {
  font-family: "Vazir";
  src: url("../../public/fonts/TTF/vazir.ttf"),
    url("../../public/fonts/EOT/Vazir.eot"),
    url("../../public/fonts/WOFF/Vazir.woff"),
    url("../../public/fonts/WOFF2/Vazir.woff2");
}

@font-face {
  font-family: "Vazir-FD";
  src: url("../../public/fonts/TTF/vazir-fd.ttf"),
    url("../../public/fonts/EOT/Vazir-FD.eot"),
    url("../../public/fonts/WOFF/Vazir-FD.woff"),
    url("../../public/fonts/WOFF2/Vazir-FD.woff2");
}

@font-face {
  font-family: "Vazir-WOL";
  src: url("../../public/fonts/TTF/vazir-wol.ttf"),
    url("../../public/fonts/EOT/Vazir-WOL.eot"),
    url("../../public/fonts/WOFF/Vazir-WOL.woff"),
    url("../../public/fonts/WOFF2/Vazir-WOL.woff2");
}

@font-face {
  font-family: "Vazir-FD-WOL";
  src: url("../../public/fonts/EOT/Vazir-FD-WOL.eot"),
    url("../../public/fonts/WOFF/Vazir-FD-WOL.woff"),
    url("../../public/fonts/WOFF2/Vazir-FD-WOL.woff2");
}

@font-face {
  font-family: "Vazir";
  src: url("../../public/fonts/TTF/vazir-bold.ttf"),
    url("../../public/fonts/EOT/Vazir-Bold.eot"),
    url("../../public/fonts/WOFF/Vazir-Bold.woff"),
    url("../../public/fonts/WOFF2/Vazir-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Vazir-FD";
  src: url("../../public/fonts/TTF/vazir-bold-fd.ttf"),
    url("../../public/fonts/EOT/Vazir-Bold-FD.eot"),
    url("../../public/fonts/WOFF/Vazir-Bold-FD.woff"),
    url("../../public/fonts/WOFF2/Vazir-Bold-FD.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Vazir-WOL";
  src: url("../../public/fonts/TTF/vazir-bold-wol.ttf"),
    url("../../public/fonts/EOT/Vazir-Bold-WOL.eot"),
    url("../../public/fonts/WOFF/Vazir-Bold-WOL.woff"),
    url("../../public/fonts/WOFF2/Vazir-Bold-WOL.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Vazir-FD-WOL";
  src: url("../../public/fonts/EOT/Vazir-Bold-FD-WOL.eot"),
    url("../../public/fonts/WOFF/Vazir-Bold-FD-WOL.woff"),
    url("../../public/fonts/WOFF2/Vazir-Bold-FD-WOL.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Vazir";
  src: url("../../public/fonts/TTF/vazir-medium.ttf"),
    url("../../public/fonts/EOT/Vazir-Medium.eot"),
    url("../../public/fonts/WOFF/Vazir-Medium.woff"),
    url("../../public/fonts/WOFF2/Vazir-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Vazir-FD";
  src: url("../../public/fonts/TTF/vazir-medium-fd.ttf"),
    url("../../public/fonts/EOT/Vazir-Medium-FD.eot"),
    url("../../public/fonts/WOFF/Vazir-Medium-FD.woff"),
    url("../../public/fonts/WOFF2/Vazir-Medium-FD.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Vazir-WOL";
  src: url("../../public/fonts/TTF/vazir-medium-wol.ttf"),
    url("../../public/fonts/EOT/Vazir-Medium-WOL.eot"),
    url("../../public/fonts/WOFF/Vazir-Medium-WOL.woff"),
    url("../../public/fonts/WOFF2/Vazir-Medium-WOL.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Vazir-FD-WOL";
  src: url("../../public/fonts/EOT/Vazir-Medium-FD-WOL.eot"),
    url("../../public/fonts/WOFF/Vazir-Medium-FD-WOL.woff"),
    url("../../public/fonts/WOFF2/Vazir-Medium-FD-WOL.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Vazir";
  src: url("../../public/fonts/TTF/vazir-light.ttf"),
    url("../../public/fonts/EOT/Vazir-Light.eot"),
    url("../../public/fonts/WOFF/Vazir-Light.woff"),
    url("../../public/fonts/WOFF2/Vazir-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Vazir-FD";
  src: url("../../public/fonts/TTF/vazir-light-fd.ttf"),
    url("../../public/fonts/EOT/Vazir-Light-FD.eot"),
    url("../../public/fonts/WOFF/Vazir-Light-FD.woff"),
    url("../../public/fonts/WOFF2/Vazir-Light-FD.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Vazir-WOL";
  src: url("../../public/fonts/TTF/vazir-light-wol.ttf"),
    url("../../public/fonts/EOT/Vazir-Light-WOL.eot"),
    url("../../public/fonts/WOFF/Vazir-Light-WOL.woff"),
    url("../../public/fonts/WOFF2/Vazir-Light-WOL.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Vazir-FD-WOL";
  src: url("../../public/fonts/EOT/Vazir-Light-FD-WOL.eot"),
    url("../../public/fonts/WOFF/Vazir-Light-FD-WOL.woff"),
    url("../../public/fonts/WOFF2/Vazir-Light-FD-WOL.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Vazir";
  src: url("../../public/fonts/TTF/vazir-thin.ttf"),
    url("../../public/fonts/EOT/Vazir-Thin.eot"),
    url("../../public/fonts/WOFF/Vazir-Thin.woff"),
    url("../../public/fonts/WOFF2/Vazir-Thin.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Vazir-FD";
  src: url("../../public/fonts/TTF/vazir-thin-fd.ttf"),
    url("../../public/fonts/EOT/Vazir-Thin-FD.eot"),
    url("../../public/fonts/WOFF/Vazir-Thin-FD.woff"),
    url("../../public/fonts/WOFF2/Vazir-Thin-FD.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Vazir-WOL";
  src: url("../../public/fonts/TTF/vazir-thin-wol.ttf"),
    url("../../public/fonts/EOT/Vazir-Thin-WOL.eot"),
    url("../../public/fonts/WOFF/Vazir-Thin-WOL.woff"),
    url("../../public/fonts/WOFF2/Vazir-Thin-WOL.woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Vazir-FD-WOL";
  src: url("../../public/fonts/EOT/Vazir-Thin-FD-WOL.eot"),
    url("../../public/fonts/WOFF/Vazir-Thin-FD-WOL.woff"),
    url("../../public/fonts/WOFF2/Vazir-Thin-FD-WOL.woff2");
  font-weight: 100;
}

/* ---------- Vazirmatn ---------- */

@font-face {
  font-family: "Vazirmatn";
  src: url("../../public/fonts/TTF/vazirmatn-regular.ttf");
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../../public/fonts/TTF/vazirmatn-thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../../public/fonts/TTF/vazirmatn-extralight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../../public/fonts/TTF/vazirmatn-light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../../public/fonts/TTF/vazirmatn-medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../../public/fonts/TTF/vazirmatn-semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../../public/fonts/TTF/vazirmatn-bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../../public/fonts/TTF/vazirmatn-extrabold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../../public/fonts/TTF/vazirmatn-black.ttf");
  font-weight: 900;
}

/* ---------- Aordibeheshtshablon ---------- */
@font-face {
  font-family: "Aordibeheshtshablon";
  src: url("../../public/fonts/TTF/aordibeheshtshablon.ttf");
}

/* ---------- BLabeloo ---------- */
@font-face {
  font-family: "BLabeloo";
  src: url("../../public/fonts/TTF/blabeloo.ttf");
}

/* ---------- BYekan ---------- */
@font-face {
  font-family: "BYekan";
  src: url("../../public/fonts/TTF/byekanbold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "BYekan";
  src: url("../../public/fonts/TTF/byekanregular.ttf");
  font-weight: normal;
}

/* ---------- IransansxVF ---------- */
@font-face {
  font-family: "IransansxVF";
  src: url("../../public/fonts/TTF/iransansx-vf.ttf");
}

/* ---------- IranyekanxVF ---------- */
@font-face {
  font-family: "IranyekanxVF";
  src: url("../../public/fonts/TTF/iranyekanx-vf.ttf");
}

/* ---------- Kalniaglaze ---------- */
@font-face {
  font-family: "Kalniaglaze";
  src: url("../../public/fonts/TTF/kalniaglaze-bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Kalniaglaze";
  src: url("../../public/fonts/TTF/kalniaglaze-extralight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Kalniaglaze";
  src: url("../../public/fonts/TTF/kalniaglaze-light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Kalniaglaze";
  src: url("../../public/fonts/TTF/kalniaglaze-medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Kalniaglaze";
  src: url("../../public/fonts/TTF/kalniaglaze-regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Kalniaglaze";
  src: url("../../public/fonts/TTF/kalniaglaze-semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Kalniaglaze";
  src: url("../../public/fonts/TTF/kalniaglaze-thin.ttf");
  font-weight: 100;
}

/* ---------- KalniaglazeExpanded ---------- */
@font-face {
  font-family: "KalniaglazeExpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_expanded-bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "KalniaglazeExpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_expanded-extralight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "KalniaglazeExpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_expanded-light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "KalniaglazeExpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_expanded-medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "KalniaglazeExpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_expanded-regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "KalniaglazeExpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_expanded-semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "KalniaglazeExpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_expanded-thin.ttf");
  font-weight: 100;
}

/* ---------- KalniaglazeSemiexpanded ---------- */
@font-face {
  font-family: "KalniaglazeSemiexpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_semiexpanded-bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "KalniaglazeSemiexpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_semiexpanded-extralight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "KalniaglazeSemiexpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_semiexpanded-light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "KalniaglazeSemiexpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_semiexpanded-medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "KalniaglazeSemiexpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_semiexpanded-regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "KalniaglazeSemiexpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_semiexpanded-semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "KalniaglazeSemiexpanded";
  src: url("../../public/fonts/TTF/kalniaglaze_semiexpanded-thin.ttf");
  font-weight: 100;
}
/* ---------- lalezar --------- */

@font-face {
  font-family: "lalezar";
  src: url("../../public/fonts/TTF/Lalezar-Regular.ttf"),
    url("../../public/fonts/OTF/Lalezar-Regular.otf");
}

/* ---------- MJText ---------- */
@font-face {
  font-family: "MJText";
  src: url("../../public/fonts/TTF/mj_textbold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "MJText";
  src: url("../../public/fonts/TTF/mj_textlight.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "MJText";
  src: url("../../public/fonts/TTF/mj_textmedium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "MJText";
  src: url("../../public/fonts/TTF/mj_textultralight.ttf");
  font-weight: 100;
}

/* ---------- Yekan ---------- */

@font-face {
  font-family: "Yekan";
  src: url("../../public/fonts/TTF/yekan.ttf"),
    url("../../public/fonts/WOFF/Yekan.woff");
}

@font-face {
  font-family: "Yekan";
  src: url("../../public/fonts/EOT/yekan-regular.eot"),
    url("../../public/fonts/WOFF/yekan-regular.woff");
  font-weight: normal;
}

/* ---------- YekanBakh ---------- */

@font-face {
  font-family: "YekanBakh";
  src: url("../../public/fonts/TTF/yekanbakh-fat.ttf"),
    url("../../public/fonts/WOFF/YekanBakh-Fat.woff"),
    url("../../public/fonts/WOFF2/YekanBakh-Fat.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../../public/fonts/TTF/yekanbakhregular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../../public/fonts/TTF/yekanbakh-vf.ttf");
  font-weight: 100 900;
}

/* ---------- Abasan ---------- */
@font-face {
  font-family: "Abasan";
  src: url("../../public/fonts/EOT/pixelboy-Abasan.eot"),
    url("../../public/fonts/TTF/pixelboy-abasan.ttf"),
    url("../../public/fonts/WOFF/pixelboy-Abasan.woff");
}

/* ---------- Afsoon ---------- */
@font-face {
  font-family: "Afsoon";
  src: url("../../public/fonts/EOT/pixelboy-Afsoon.eot"),
    url("../../public/fonts/TTF/pixelboy-afsoon.ttf"),
    url("../../public/fonts/WOFF/pixelboy-Afsoon.woff");
}

/* ---------- Aref ---------- */
@font-face {
  font-family: "Aref";
  src: url("../../public/fonts/EOT/pixelboy-Aref.eot"),
    url("../../public/fonts/TTF/pixelboy-aref.ttf"),
    url("../../public/fonts/WOFF/pixelboy-Aref.woff");
}

/* ---------- Arshia ---------- */
@font-face {
  font-family: "Arshia";
  src: url("../../public/fonts/EOT/pixelboy-Arshia.eot"),
    url("../../public/fonts/TTF/pixelboy-arshia.ttf"),
    url("../../public/fonts/WOFF/pixelboy-Arshia.woff");
}

/* ---------- BBadr ---------- */
@font-face {
  font-family: "BBadr";
  src: url("../../public/fonts/EOT/pixelboy-BBadr.eot"),
    url("../../public/fonts/TTF/pixelboy-bbadr.ttf"),
    url("../../public/fonts/WOFF/pixelboy-BBadr.woff");
}

/* ---------- BBaran ---------- */
@font-face {
  font-family: "BBaran";
  src: url("../../public/fonts/EOT/pixelboy-BBaran.eot"),
    url("../../public/fonts/TTF/pixelboy-bbaran.ttf"),
    url("../../public/fonts/WOFF/pixelboy-BBaran.woff");
}

/* ---------- BFarNaz ---------- */
@font-face {
  font-family: "BFarNaz";
  src: url("../../public/fonts/EOT/pixelboy-BFarnaz.eot"),
    url("../../public/fonts/TTF/pixelboy-bfarnaz.ttf"),
    url("../../public/fonts/WOFF/pixelboy-BFarnaz.woff");
}

/* ---------- Flow ---------- */
@font-face {
  font-family: "Flow";
  src: url("../../public/fonts/EOT/pixelboy-Flow.eot"),
    url("../../public/fonts/TTF/pixelboy-flow.ttf"),
    url("../../public/fonts/WOFF/pixelboy-Flow.woff");
}

@font-face {
  font-family: "Flow";
  src: url("../../public/fonts/EOT/pixelboy-FlowBold.eot"),
    url("../../public/fonts/TTF/pixelboy-flowbold.ttf"),
    url("../../public/fonts/WOFF/pixelboy-FlowBold.woff");
  font-weight: bold;
}

/* ---------- Frutiger ---------- */
@font-face {
  font-family: "Frutiger";
  src: url("../../public/fonts/EOT/pixelboy-frutiger.eot"),
    url("../../public/fonts/TTF/pixelboy-frutiger.ttf"),
    url("../../public/fonts/WOFF/pixelboy-frutiger.woff");
}

/* ---------- Kufi ---------- */
@font-face {
  font-family: "Kufi";
  src: url("../../public/fonts/EOT/pixelboy-Kufi.eot"),
    url("../../public/fonts/TTF/pixelboy-kufi.ttf"),
    url("../../public/fonts/WOFF/pixelboy-Kufi.woff");
}

/* ---------- Rezvan ---------- */
@font-face {
  font-family: "Rezvan";
  src: url("../../public/fonts/EOT/pixelboy-Rezvan.eot"),
    url("../../public/fonts/TTF/pixelboy-rezvan.ttf"),
    url("../../public/fonts/WOFF/pixelboy-Rezvan.woff");
}

/* ---------- Two ---------- */
@font-face {
  font-family: "Two";
  src: url("../../public/fonts/EOT/pixelboy-TwoLight.eot"),
    url("../../public/fonts/TTF/pixelboy-twolight.ttf"),
    url("../../public/fonts/WOFF/pixelboy-TwoLight.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Two";
  src: url("../../public/fonts/EOT/pixelboy-TwoMedium.eot"),
    url("../../public/fonts/TTF/pixelboy-twomedium.ttf"),
    url("../../public/fonts/WOFF/pixelboy-TwoMedium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Two";
  src: url("../../public/fonts/EOT/pixelboy-TwoBold.eot"),
    url("../../public/fonts/TTF/pixelboy-twobold.ttf"),
    url("../../public/fonts/WOFF/pixelboy-TwoBold.woff");
  font-weight: bold;
}

/* ---------- TimesNewRoman ---------- */

@font-face {
  font-family: "TimesNewRoman";
  src: url("../../public/fonts/TTF/times-new-roman-italic.ttf");
  font-style: italic;
}
