.sideBar_listItem:hover {
  background-color: #ffffff3d;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  padding-right: 0.75rem;
  border-radius: 0.5rem;
}
.sideBar_activate {
  border-radius: 0.5rem;
  background-color: #ffffff3d;
  padding-right: 0.75rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.sideBar_headerTiTle {
  padding-bottom: 16px;
  border-bottom: 2px solid #fff;
}
